/* You can add global styles to this file, and also import other style files */

@import 'imports';


html {
  font-family: 'Montserrat', sans-serif;
  background: $bg-color;
  color: $secondary;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input {
  font-family: inherit;
}

@include selection {
  background: $saturated;
}
